*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: 'poppin'cursive;
  }
 .hero {
    position: relative;
    width: 100%;
    height: 19vw;
    background-position: stretch;
    background-size: cover;
    padding: 0 1%;
    display: flex;
    align-items: right;
    justify-content: right;
    background-image: url("https://lh3.googleusercontent.com/O6K-WYzLPR4SQ0ryx0SkDMY9Ob-CY9z0TA0_h04zzv0hmuK_929TDKpz-0wTucwd2Zjm2hF0u0DsyiIwpbh0faTubjSU_rJxMEFaBo_h2-N2EwT451I0ZlQC5-XDpx5uC85dpFBBsnY=w2400");
    background-repeat: no-repeat;
 }
 .nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
nav li {
    list-style: none;
    margin: auto; 
    padding: 15px;
    position: relative;
    justify-content: space-around;
    display: inline-block;
    text-align: inline; 
    cursor: pointer;

  }
  nav li a {
    color: white;
    font-size: 2.1vh;
    text-decoration: none;
    font-family: 'Merriweather Sans', sans-serif;
    cursor: pointer;
  }
    nav li a::after{
        content: '';
        height: 3px;
        width: 0;
        background:rgb(245,187,0);
        position: absolute;
        left: 0;
        bottom: 2%;
        transition: 0.4s;
        cursor: pointer;
    
    }
    nav li a:hover::after{
        width: 100%;
    }
